*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
@media print and (min-width: 400px) {
  body {
    background-color: transparent;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;